<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <style>
        .card-body {
            height: 20rem;
            display: grid !important;
            justify-items: center !important;
            padding: 2rem;
        }

        .card-body img {
            height: 12rem;
            margin-top: 1rem;
        }

        .card a{
            text-decoration: none !important
        }

        .magnify:hover{
            height: 10rem;
        }

    </style>
</head>

<body>
    <div class="row text-center" ng-controller="CatalogController as vm">
        <div ng-repeat="item in vm.products" class="col-sm-3">
            <div class="card m-2">
                <!-- Example of a clickable product card -->
                <a ng-href="#!/product/{{item.id}}">
                    <div class="card-body p-2">
                        <img ng-src="{{item.image}}" alt="{{item.name}}" class="product-image magnify">
                        <h5 class="text-primary">{{item.name}}</h5>
                        <p  class="text-primary">Price: {{item.price | currency:'INR '}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>
